/*<meta Version="9" conditions="general.GlobalLink" />*/

/* MadCap Table Style: */

@media print
{
	mcTableStyle
	{
		margin-top: 12pt;
		margin-bottom: 12pt;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
		color: #393939;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: StandardTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #bebebe;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #bebebe;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	max-id: 5;
	margin-top: 1.4em;
	border-spacing-y: 0;
	cell-padding-left: 4px;
	cell-padding-right: 4px;
	cell-padding-top: 4px;
	cell-padding-bottom: 4px;
	margin-bottom: 1.4em;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bebebe;
	name: Normal;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bdbdbd;
	name: Bold;
	id: 4;
	type: Manual;
	font-weight: bold;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bebebe;
	name: Header1;
	id: 2;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
	color: #333333;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bebebe;
	name: Normal;
	id: 1;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bdbdbd;
	name: Bold;
	id: 5;
	type: Manual;
	font-weight: bold;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #bdbdbd;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

@media print
{
	.TableStyle-StandardTable
	{
		margin-top: 12pt;
		margin-bottom: 12pt;
		border-spacing: 0px 0px;
	}

	.TableStyle-StandardTable-HeadI-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadI-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadE-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadE-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadF-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadF-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadH-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadH-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadD-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadD-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadC-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadC-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadB-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadB-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadA-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadA-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadG-Normal-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadG-Normal-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadI-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadI-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadE-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadE-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadF-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadF-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadH-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadH-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadD-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadD-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadC-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadC-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadB-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadB-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadA-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadA-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}

	.TableStyle-StandardTable-HeadG-Bold-Header1
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
		background-color: #ebebeb;
	}

	.TableStyle-StandardTable-HeadG-Bold-Header1 p
	{
		color: #393939;
		font-size: 12pt;
		font-weight: bold;
	}
}

.TableStyle-StandardTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #bebebe;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #bebebe;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #bebebe;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bebebe;
	border-bottom-width: 1px;
	margin-top: 1.4em;
	margin-bottom: 1.4em;
	border-spacing: 0px 0px;
}

.TableStyle-StandardTable-Column-Normal
{
	
}

.TableStyle-StandardTable-Column-Bold
{
	
}

.TableStyle-StandardTable-Head-Header1
{
	
}

.TableStyle-StandardTable-HeadI-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadI-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadE-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-HeadE-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadF-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-HeadF-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadH-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadH-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadD-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-HeadD-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadC-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadC-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadB-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadB-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadA-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadA-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadG-Normal-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadG-Normal-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadI-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadI-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadE-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-HeadE-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadF-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-HeadF-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadH-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadH-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadD-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-HeadD-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadC-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadC-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadB-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadB-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadA-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadA-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-HeadG-Bold-Header1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	background-color: #bebebe;
}

.TableStyle-StandardTable-HeadG-Bold-Header1 p
{
	color: #333333;
	font-size: 1em;
	font-weight: 400;
}

.TableStyle-StandardTable-Foot-Footer1
{
	
}

.TableStyle-StandardTable-FootI-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-StandardTable-FootI-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootE-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #bdbdbd;
	border-top-style: solid;
}

.TableStyle-StandardTable-FootE-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootF-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #bdbdbd;
	border-top-style: solid;
}

.TableStyle-StandardTable-FootF-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootH-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
}

.TableStyle-StandardTable-FootH-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootD-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-width: 1px;
	border-top-color: #bdbdbd;
	border-top-style: solid;
}

.TableStyle-StandardTable-FootD-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootC-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-StandardTable-FootC-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootB-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
}

.TableStyle-StandardTable-FootB-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootA-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-StandardTable-FootA-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootG-Normal-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.TableStyle-StandardTable-FootG-Normal-Footer1 p
{
	
}

.TableStyle-StandardTable-FootI-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-FootI-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-FootE-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #bdbdbd;
	border-top-style: solid;
}

.TableStyle-StandardTable-FootE-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-FootF-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-top-width: 1px;
	border-top-color: #bdbdbd;
	border-top-style: solid;
}

.TableStyle-StandardTable-FootF-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-FootH-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
}

.TableStyle-StandardTable-FootH-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-FootD-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-top-width: 1px;
	border-top-color: #bdbdbd;
	border-top-style: solid;
}

.TableStyle-StandardTable-FootD-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-FootC-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-FootC-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-FootB-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
}

.TableStyle-StandardTable-FootB-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-FootA-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-FootA-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-FootG-Bold-Footer1
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-FootG-Bold-Footer1 p
{
	font-weight: bold;
}

.TableStyle-StandardTable-Body-Normal
{
	
}

.TableStyle-StandardTable-BodyI-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-StandardTable-BodyI-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyE-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyE-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyF-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-BodyF-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyH-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyH-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyD-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-BodyD-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyC-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-StandardTable-BodyC-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyB-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyB-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyA-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-StandardTable-BodyA-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyG-Normal-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
}

.TableStyle-StandardTable-BodyG-Normal-Normal p
{
	
}

.TableStyle-StandardTable-BodyI-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyI-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyE-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyE-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyF-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyF-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyH-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyH-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyD-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #bebebe;
	border-bottom-style: solid;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyD-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyC-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyC-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyB-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyB-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyA-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyA-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyG-Bold-Normal
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: top;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyG-Bold-Normal p
{
	font-weight: bold;
}

.TableStyle-StandardTable-Body-Bold
{
	
}

.TableStyle-StandardTable-BodyI-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyI-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyE-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-color: #bdbdbd;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyE-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyF-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-color: #bdbdbd;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-BodyF-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyH-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyH-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyD-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-color: #bdbdbd;
	border-bottom-style: solid;
}

.TableStyle-StandardTable-BodyD-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyC-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyC-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyB-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bebebe;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyB-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyA-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyA-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyG-Normal-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyG-Normal-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyI-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyI-Bold-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyE-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #bdbdbd;
	border-bottom-style: solid;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyE-Bold-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyF-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #bdbdbd;
	border-bottom-style: solid;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyF-Bold-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyH-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyH-Bold-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyD-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #bdbdbd;
	border-bottom-style: solid;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyD-Bold-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyC-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyC-Bold-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyB-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-color: #bdbdbd;
	border-right-style: solid;
}

.TableStyle-StandardTable-BodyB-Bold-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyA-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyA-Bold-Bold p
{
	font-weight: bold;
}

.TableStyle-StandardTable-BodyG-Bold-Bold
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

.TableStyle-StandardTable-BodyG-Bold-Bold p
{
	font-weight: bold;
}

