/*<meta conditions="general.GlobalLink" />*/

/*top nav styles only*/
/*Defines the content area of standard/ 3Way topics */

div.content
{
	padding-left: 2rem;
	padding-top: 1.375rem;
	padding-right: 2rem;
	min-height: 45em;
	mc-disabled: true;
	background-color: #fff;
	margin-bottom: 0;
	/*was 5rem*/
	margin-top: 0;
}

/*Defines search settings (and hides default nav search bar) */

div.search-bar
{
	display: none;
	mc-disabled: true;
}

._Skins_SearchBar .search-field
{
	font-weight: 400;
}

._Skins_SearchBar .search-submit
{
	border-left: solid 2px #fff;
}

p#globalsearch
{
	font-size: 0.6em;
	font-weight: 300;
	margin-top: 2px;
	margin-bottom: 2em;
	text-align: right;
	padding-right: 1px;
}

input.search-field
{
	margin-bottom: 0;
	padding-bottom: 0;
}

input:focus[type="search"]
{
	outline: 1px solid #fff;
}

/*Fixes the width of the side menu for large screens */

div.sideContent
{
	max-width: 100%;
	mc-disabled: true;
}

/* Styles to override the skins/ navigation styles in the top menu */

nav.tab-bar
{
	height: 108px;
	line-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.relative.clearfix a.logo
{
	top: 10px;
	left: 32px;
}

ul.navigation
{
	height: 108px;
	position: static;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 134px;
	display: inline-block;
}

ul.navigation ul
{
	padding: 32px 32px 32px 32px;
	background-color: #fff;
}

ul.navigation ul > li:hover
{
	background: transparent;
}

/**** Left align all menus except the rhs menu ****/

ul.navigation > li > ul
{
	left: 0;
	right: auto;
}

ul.navigation > li:nth-child(5) > ul
{
	right: 0;
	left: auto;
}

/**** Hide upwards pointing triangle that separates top/bottom parts of menu ****/

ul.navigation > li.has-children:after
{
	display: none;
}

/**** Hide the last menu item (reserved for the Guide toc), the placeholder item and the green link items ****/

ul.navigation > li:first-child,
ul.navigation > li:last-child,
ul.navigation > li:nth-child(2),
ul.navigation > li:nth-child(6),
ul.navigation > li:nth-child(7)
{
	display: none;
}

ul.navigation a
{
	font-weight: 300;
}

ul.navigation li
{
	border-left: 1px solid #f34b43;
	padding-left: 27px;
	padding-right: 14px;
	z-index: 2;
	background: none;
}

ul.navigation > li
{
	left: 2px;
}

ul.navigation > li:hover
{
	background: none;
}

/**** Adds up/down arrow to top level menu items with children ****/

ul.navigation > li.has-children
{
	background: transparent url('../images/icons/mega-menu-toggle-icon-down.png') no-repeat right center;
	left: 2px;
	padding-left: 27px;
	padding-right: 35px;
}

ul.navigation > li.has-children:hover
{
	background: transparent url('../images/icons/mega-menu-toggle-icon-up.png') no-repeat right center;
}

/****Removes left border on sub list items ****/

ul.navigation ul li
{
	border-left: none;
}

ul.navigation ul li:first-child
{
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
}

ul.navigation ul > li
{
	padding: 8px 10px 0 0;
	text-align: left;
}

ul.navigation > li > a
{
	line-height: 25px;
}

ul.navigation ul > li > a
{
	text-align: left;
	padding: 0;
}

ul.navigation > li.has-children:hover
{
	background-color: #fff;
}

/**** Top level menu text colour on hover ****/
/**** Fix to keep link child red on hover over li parent ****/

ul.navigation li > a:hover,
ul.navigation li:hover > a
{
	font-weight: 300;
}

ul.navigation li > a:hover
{
	text-decoration: underline;
}

ul.menu._Skins_SideMenu a:hover
{
	text-decoration: underline;
}

#pagination a:hover
{
	color: #fff;
	background-color: #007867;
	border: none;
}

p.footer a:hover
{
	text-decoration: underline;
}

ul.navigation > li.has-children > a:hover,
ul.navigation > li.has-children:hover > a
{
	color: #f01e14;
}

ul.navigation > li.has-children:hover ~ li:last-child
{
	display: block;
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	-webkit-tap-highlight-color: transparent;
}

ul.navigation ul > li > a:hover,
ul.navigation li:hover ul > li > a
{
	color: #007867;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 0;
}

ul.navigation > li:last-child a
{
	visibility: hidden;
}

/* End of navigation override styles */
/* Styles to override the side navigation */
/* Menu Styles */

ul.menu._Skins_SideMenu,
ul.menu._Skins_SideMenu.mc-component
{
	font-weight: 300;
}

ul.menu._Skins_SideMenu > li
{
	background: #333 url('../images/icons/right-link-bg.png') no-repeat 5px 13px;
	padding-left: 25px;
}

ul.menu._Skins_SideMenu > li.has-children
{
	background: #333 url('../images/icons/bottom-link-bg.png') no-repeat left 18px;
	padding-left: 25px;
}

ul.menu._Skins_SideMenu a,
ul.menu._Skins_SideMenu.mc-component a
{
	font-weight: 300;
	font-size: 1em;
}

ul.menu._Skins_SideMenu li > a,
ul.menu._Skins_SideMenu.mc-component li > a
{
	padding-right: 8px;
}

ul.menu._Skins_SideMenu li > a.selected,
ul.menu._Skins_SideMenu.mc-component li > a.selected
{
	font-weight: 300;
	color: #fff;
	border-right: 6px solid #b41437;
}

ul.menu._Skins_SideMenu li > a.selected:hover,
ul.menu._Skins_SideMenu.mc-component li > a.selected:hover
{
	font-weight: 300;
}

ul.menu._Skins_SideMenu > li > a.selected,
ul.menu._Skins_SideMenu > li > a.selected:hover,
ul.menu._Skins_SideMenu.mc-component > li > a.selected,
ul.menu._Skins_SideMenu.mc-component > li > a.selected:hover
{
	font-weight: normal;
}

/* End of side nav styles */
/* Search result style overrides */

#pagination a
{
	font-weight: normal;
	border: none;
	background-color: #f7f7f7;
	font-family: 'Adelle Sans';
	margin-left: 3px;
	margin-right: 3px;
	padding: 4px 12px;
}

#pagination a#selected
{
	color: #fff;
	background-color: #f01e14;
	border: none;
}

#resultList h3.title a,
.url cite
{
	font-weight: 300;
}

#resultList
{
	font-weight: 100;
}

#resultList li
{
	padding-left: 0;
}

/* end of search results styles */
/*Header green links*/

div.greenlinks
{
	position: absolute;
	right: 0;
}

div.greenlinks a
{
	font-size: 12px;
	font-weight: 300;
	line-height: 53px;
	padding-left: 20px;
	padding-right: 20px;
}

div.greenlinks a#search
{
	background: url('../images/icons/search_image_small_dark_green3.png') right center no-repeat;
	padding-right: 25px;
	margin-right: 20px;
	padding-top: 3px;
}

/*Special link style for Account Login and Territory pages */

p.greenarrow
{
	background: url('../images/icons/green-right-arrow-on-white-background.jpg') left 3px no-repeat;
	padding-left: 20px;
	font-size: 20px;
}

p.greenarrow a
{
	padding: 21px 0 0 0;
	line-height: 1.4;
	font-weight: 100 !important;
}

/* footer styles */

p.footer
{
	margin-top: 0.2em;
	mc-disabled: true;
	color: inherit;
	font-size: 0.75rem;
	background-color: inherit;
}

p.footer a
{
	margin-top: 0;
	text-decoration: none;
	font-weight: normal;
	margin-bottom: 0;
}

footer
{
	max-width: 100%;
	bottom: 0;
	position: relative;
}

div.hrfooter
{
	padding: 24px 2rem 50px;
	margin-bottom: 0px;
	background-color: #fff;
	width: 100%;
	mc-disabled: true;
}

div.hrfooter p
{
	margin-top: 0;
	margin-bottom: 8px;
}

div#socialmedia
{
	text-align: right;
	padding-right: 0;
}

div.abovefooter
{
	padding: 26px 2rem 30px;
}

div.abovefooter ul
{
	list-style-image: none;
	list-style: none;
	border-top: 1px solid #cecece;
	padding-left: 0;
	padding-top: 20px;
}

div.abovefooter ul li
{
	padding-left: 5%;
	padding-right: 5%;
	font-size: 15px;
	line-height: 1.3;
	font-weight: 500;
	margin-bottom: 8px;
	margin-top: 0;
}

div.abovefooter ul li a
{
	font-size: 14px;
	margin-bottom: 8px;
	font-weight: 300;
	line-height: 1.3;
}

/* Scroll to top button styles */
/* Hides any Back to top buttons added to content before this template version */

div.BackToTop,
div.BackToTopSmall
{
	display: none;
}

/* works with the scrolltotop funtion; nearly provides fix for tablet mobile breakpoints */

.scrollToTop,
.nearlyscrollToTop
{
	width: 50px;
	height: 46px;
	position: fixed;
	bottom: 5px;
	right: 10px;
	opacity: 0.7;
	display: none;
	background: url('../images/icons/redbtt.png');
	z-index: 999;
}

.scrollToTop:hover,
.nearlyscrollToTop:hover
{
	opacity: 1;
}

@media only screen and (max-width: 1100px)
{
	ul.menu._Skins_SideMenu a,
	ul.menu._Skins_SideMenu.mc-component a
	{
		font-size: 0.9em;
	}

	body
	{
		max-width: 100% !important;
	}

	div.greenlinks
	{
		display: none;
	}

	/* Fixes search bar alignment issues at the tablet/mobile breakpoint */

	nav.tab-bar .row.outer-row
	{
		padding-right: 1em;
	}

	div.content,
	div.hrfooter,
	div.abovefooter
	{
		padding-left: 1em;
		padding-right: 1em;
	}

	div.sideContent
	{
		width: 100%;
	}

	nav.tab-bar
	{
		height: 49.5px;
		background: #fff none;
		box-shadow: 0 4px 6px 0 #ebebeb;
	}

	ul.navigation
	{
		display: none;
	}

	.tab-bar-section.middle > div
	{
		min-height: 40px;
	}

	.tab-bar-section a.logo
	{
		top: 0;
		width: 120px;
		height: 48px;
		background-size: 120px 23.5px;
	}

	.tab-bar .menu-icon span:hover
	{
		background: transparent url('../images/icons/menu_hover.png') no-repeat center center;
	}

	/* OffCanvas styles */

	ul.off-canvas-list > li:last-child
	{
		display: none;
	}

	.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after,
	.left-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after
	{
		color: #fff;
		position: absolute;
		border: none;
		content: "\221f";
		right: 18px;
		transform: rotate(-135deg);
		margin-top: 0;
		/*changed from 2px due to new fonts */
	}

	.right-submenu .back > a:after,
	.left-submenu .back > a:after
	{
		content: "";
	}

	.right-submenu .back > a:before,
	.left-submenu .back > a:before
	{
		color: #fff;
		position: absolute;
		border: none;
		content: "\221f";
		transform: rotate(45deg);
		left: 18px;
		margin-top: -2px;
	}

	ul.off-canvas-list li
	{
		padding-left: 1em;
	}

	ul.off-canvas-list li a
	{
		color: #d2d2d2;
	}

	ul.off-canvas-list li a:hover
	{
		background-color: #007867;
	}

	ul.off-canvas-list li.back > a:hover
	{
		background-color: #007867;
	}

	/* side nav styles */

	ul.menu._Skins_SideMenu > li,
	ul.menu._Skins_SideMenu > li.has-children
	{
		background-image: none;
		padding-left: 0;
	}

	/* Scroll to top fix for tablet & mobile breakpoints */

	.nearlyscrollToTop
	{
		display: block;
	}
}

@media only screen and (max-width: 641px)
{
	/*Hides side nav*/

	ul.menu._Skins_SideMenu,
	ul.menu._Skins_SideMenu.mc-component
	{
		display: none;
	}

	/*removes foundation left and right padding */

	.small-12
	{
		padding-left: 0;
		padding-right: 0;
	}

	p.Copyright,
	p.footer
	{
		text-align: left;
	}

	div#socialmedia
	{
		text-align: center;
	}

	/*hides above footer links ...*/

	div.abovefooter
	{
		display: none;
	}

	/*... and adds a margin below the content area */

	div.content
	{
		margin-bottom: 3rem;
	}
}

